<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <title>welcome to My Opinion</title>
    <link rel="stylesheet" href="css/bodystyle.css">
</head>

<body>
    <h1>Welcome to myopinion.com</h1><br>

    <div class="btn">

        <button class="login">

            <a href="/login">login</a>

        </button>
        <button class="registration">

            <a href="/registration">registration</a>

        </button>

    </div>


</body>

</html>