<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Login Page</title>
  <link rel="shortcut icon" href="./image/favImage.png" type="image/png">
  <link rel="stylesheet" href="css/loginstyle.css" />
</head>

<body>


  <div class="center">
    <h1>Login</h1>
    <form action="#" method="post">
      <div class="textField">
        <input type="text" name=" " value="" required />
        <label>UserName</label>
      </div>
      <div class="textField">
        <input type="password" name=" " value="" required />
        <label>Password</label>
      </div>


      <input type="submit" value="login" />

    </form>
  </div>
</body>

</html>