<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome registration Page</title>
  <link rel="shortcut icon" href="./image/favImage.png" type="image/png">
  <link rel="stylesheet" href="css/loginstyle.css" />
</head>

<body>
  <div class="center">
    <h1>Registration</h1>
    <form action="/register" method="post">
      <input type="text" placeholder="Enter your first name" name="username" required /> <br>
      <input type="email" placeholder="abc@gmail.com" name="email" required /> <br>
      <input type="number" placeholder="1234567890" name="phone" required /> <br>
      <input type="password" placeholder="*****" name="password" required /> <br>
      <input type="password" placeholder="*****" name="cpassword" required /> <br>

      <br><br>
      <input type="submit" value="registration" />
    </form>
  </div>
</body>

</html>