<link rel="stylesheet" href="css/navstyle.css">

<nav>
    <h1>welcome to my opinion.com </h1>

    <div class="nav">
        <button class="but" id="sports"><a href="/sports">sports</a></button>
        <button class="but" id="politics"><a href="/politics">politics</a></button>
        <button class="but" id="entertainment"><a href="/entertainment">entertainment</a></button>
        <button class="but" id="tech"><a href="/tech">tech</a></button>
        <button class="but" id="uu"><a href="/utkaluniversity">UtkalUniversity</a></button>
    </div>
</nav>