<link rel="stylesheet" href="css/trendingstyle.css">
<aside>
    <div class="trending">
        <h2 id="trending">Whats Trending!</h2>

        <p class="trendq">1.Should Narendra Modi resign as Prime Minister of India? <button
                class="trendq_hold">Politics</button></p>

        <p class="trendq">2.Should we have IPL during this covid period? <button class="trendq_hold">Sports</button></p>

        <p class="trendq">3.Is Alia is the perfect bride for Ranbir? <button class="trendq_hold">Entertainment</button>
        </p>

        <p class="trendq">4.Is Nano-tech is the future? <button class="trendq_hold">Tech</button></p>

        <p class="trendq">5.Is Pranati Mam is the best teacher in UU?<button class="trendq_hold">Utkal
                University</button></p>

        <p class="trendq">6.Is Alia is the perfect bride for Ranbir? <button class="trendq_hold">Entertainment</button>
        </p>
    </div>
</aside>